@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --header-outer-height: 110px;
    --header-inner-height: 65px;
    --header-height-difference: calc(var(--header-outer-height) - var(--header-inner-height));
    --header-bg: rgb(255, 0, 0);
}


/* CSS DA RESPOS */
/* 
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} */


body {
    background-color: #13131F;
       background-image: linear-gradient(to bottom, #62068d4b, #000000,#2b11539d);
    ;
    /* #13131F; */
    line-height: 1.5;
    min-height: 200vh;
    position: relative;
}

.responsive-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    margin-left: auto;
    margin-right: auto;
}


/* .header-outer {

    height: var(--header-outer-height);
    position: sticky;
    top: calc(var(--header-height-difference) * -1);
    display: flex;
    align-items: center;
    background-color: var(--header-bg);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.329);
    z-index: 2;
} */

.header-inner {

    height: var(--header-inner-height);
    position: absolute;
    z-index: 1;
    top: 0;


    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-logo img {
    display: block;
    height: calc(var(--header-inner-height) - 30px);
    margin-left: 46%;
}

.header-navigation {
    display: flex;
    flex-wrap: center;
}

.header-navigation a,
.header-navigation button {
    font-size: 1.125rem;
    margin-left: 1.75rem;
    position: relative;
    font-weight: 500;
    color: white;
}

.certificados {
    margin-right: 150px;
}

.header-navigation a {
    display: none;
    font-size: small;
    color: rgba(255, 255, 255, 0.459);
    ;
    text-decoration: none;
}

.header-navigation button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
    transform: scalex(1);
}

.header-navigation a:after,
.header-navigation button:after {
    transition: 0.25s ease;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;

}

/* abaixo temos a parte do banner  */
.imagem-de-fundo {
    width:100% ;
    height:470px;
    background-color: #0000007e;

    
}


.organizadora {
    width: 600px;
    height: 200px;
    position: absolute;
    margin-top: 11%;
    margin-left: 6%;

}


.filme2 {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 90%;
    text-overflow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.filme {
    color: rgba(255, 255, 255, 0.911);
    line-height: 115%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 300%;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-overflow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    /* dimunir o espaçamento entre as letras */
}

.buttonplay {
    position: absolute;
    top: 83%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    width: 37%;
    height: 21%;
    background-color: rgba(255, 255, 255, 0.972);
    border-radius: 8px;
    border: none;
    font-size: medium;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
    font-size: 90%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
span {
    background: linear-gradient(45deg, #8a2be2, #ff69b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.buttonplay:hover {
    background-color: #4D15BE;
    color: white;
}


.buttonfavorite:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.buttonfavorite {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    margin: 10px;
    width: 27%;
    height: 21%;
    color: white;
    background-color: rgba(201, 201, 201, 0.57);
    border-radius: 8px;
    border: none;
    font-size: medium;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
    font-size: 83%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

}


.minha-foto {
    width: 260px;
    height: 350px;
    position: relative;
    margin-left: 145%;
    margin-top: -35%;

}

.apresetacao {
    background-color: rgb(255, 0, 0);
    width: 60%;
    height: 200px;
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulo-apresentar {
    text-overflow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.texto-apresentar {
    text-overflow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
}


/* HABILIDADE TUDO SOBRE AQUI -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* aqui começa a lateral esquerda */
.box-habilidades-inf {
    width: 45%;
    height: 500px;
    background-color: #0D0D0D;

}

.habilidades {
    margin-top: 1%;
    width: 100%;
    height: 500px;
    background-color: #0D0D0D;
    display: flex;
    justify-content: space-between;
}




.titulo-habilidade,
.texto-habilidade {
    background-color: #0D0D0D;
    margin: 0px;
    color: white;
}

.titulo-habilidade {
    /* estilização */
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    /* ordenação */
    padding-top: 70px;
    padding-bottom: 0px;
    margin-left: 80px;
    text-align: left;
}

.texto-habilidade {
    /* estilização */
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    /* ordenação */
    margin-left: 73px;
    padding: 10px;
    padding-bottom: 14px;
}



.bricks {
    margin-left: 85px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;


}

.skill-bricks {
    background: hsla(0, 0%, 34%, 0.648);
    border-radius: 10px;
    display: flex;
    padding-top: -15px;
    transition: all .5s;
}

.skill-bricks-p {
    font-weight: bold;
    margin: 10px;
    color: #ffffffbd;
    cursor: default;
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
    font-weight: 300;
}

.skill-bricks:hover {
    border: 1px solid rgb(255, 255, 255);
}




.box-habilidades-icon {
    width: 45%;
    height: 500px;
    background-color: #0D0D0D;
}


.box-inf {
    width: 80px;
    height: 2.5px;
    background-color: red;
    border-radius: 20px;
}


.wrapper {
    /* aqui altera tamanjo */
    width: 90%;
    margin: 70px auto;
}

div.gallery {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

div.gallery ul {
    list-style-type: none;
    margin-left: 43px;
}

/* animation */
/* div.gallery ul li,
		div.gallery li img {
			-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
		} */

div.gallery ul li {
    position: relative;
    float: left;
    width: 112px;
    height: 112px;
    padding: 0px;
    z-index: 0;
}

div.gallery ul li:hover {
    z-index: 5;
}

/* altera o tamanho de cada box dos icones */
div.gallery ul li img {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #535351;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background: #181818;

}

/* hover da galeria */
div.gallery ul li img:hover {
    border: 1px solid #996cde;
}

p.attribution {
    font-family: 'Consolas';
    color: #000;
    clear: both;
    text-align: center;
    line-height: 25px;
    padding-top: 30px;
}











.h2projeto {
    font-size: 200%;
    color: white;
    text-align: center;
    margin: 40px;
    margin-top: 75px;
    font-family: 'Rubik', sans-serif;
    text-align: left;
    margin-left: 6%;
}

.projeto {
    background-color: red;
}





/* codigo do banner */
@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root {
    --marquee-width: 100%;
    --marquee-height: 13vh;
    font-family: 'Rubik', sans-serif;
    /* tempo e tamanho da div */
    --marquee-elements-displayed: 8;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

.marquee {
    position: absolute;
    margin-top: -7px;
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #3B138C;
    color: #eee;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.329);
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 40rem;
    height: 110%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    /* Aqui as sombras dos slider  */
    background: linear-gradient(to right, #9b010132 0%, transparent 100%);
}

/* APENAS MEXER NA TRANSPARENCIA AQUI */
.marquee:after {
    right: 0;
    background: linear-gradient(to left, #9b010132 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    /* 5rem; */
    white-space: nowrap;
}



/* icones formatação */
.treina {
    width: 60%;
    height: 80%;
}

.fundac {
    width: 60%;
    height: 100%;
}



.ux {
    width: 50%;
    height: 100%;

}


.ifsp {
    width: 30%;
    height: 80%;

}

.senac {
    width: 60%;
    height: 88%;
}

.harvard {
    width: 100%;
    height: 60%;
    margin-left: 40px;
    margin-right: 10px;
}

.dio {
    width: 80%;
    height: 60%;
}

.roket {
    width: 100%;
    height: 40%;
}

.kenzie {
    width: 80%;
    height: 110%;
}

.udemy {
    width: 70%;
    height: 60%;
}

.uninter {
    width: 80%;
    height: 90%;
}

.usp {
    margin-top: 10px;
    width: 96%;
    height: 76%;
}

.dio2 {
    width: 70%;
    height: 67%;

}


/* projetos css */


.content-wrapper {
    margin: 0 auto;
    max-width: 1250px;
    /* lembrar de usar acima para organizar o grid dos projetos quando adicionar mais */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.news-card {
    border: 0px solid aqua;
    margin: 10px;
    position: relative;
    height: 10rem;
    overflow: hidden;
    border-radius: 4px;
    flex: 1;
    min-width: 30%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}



.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.372) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.846) 80%);
    ;
    z-index: 0;
}

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.news-card__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
    /*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
}

.news-card__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
}

.news-card__post-date {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
    color: #CCC;
}

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
}


.news-card__excerpt {
    font-weight: 300;
}

.news-card__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

.news-card__read-more i {
    position: relative;
    left: 0.2rem;
    color: #888;
    transition: left 0.5s ease, color 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.news-card__read-more:hover i {
    left: 0.5rem;
    color: yellow;
}

i {
    color: #c7c7c7;

}

.buttonplay i {
    color: black;
}




footer {
    background-color: rgba(0, 0, 0, 0.662);
    color: rgba(255, 255, 255, 0.826);
    width: 100%;
    height: 50px;
    text-align: center;
}







/* AQUI CSS DA PAGINA DE CERTIFICADOS */
.tituloh2 {
    color: white;
}






/* resposividade para celulares banner */
@media only screen and (max-width: 800px) {

    .organizadora {
        width: 90%;
        height: 10%;
        position: absolute;
        margin-left: 6%;
    }

    .buttonplay {
        position: absolute;
        top: 75%;
        left: 32%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
        width: 36%;
        height: 16%;
        background-color: rgba(255, 255, 255, 0.972);
        border-radius: 8px;
        border: none;
        font-size: medium;
        font-weight: bolder;

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .buttonfavorite {
        position: absolute;
        top: 71%;
        left: 68%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
        width: 37%;
        height: 16%;
        color: white;
        background-color: rgba(201, 201, 201, 0.57);
        border-radius: 8px;
        border: none;
        font-size: medium;
        font-weight: bolder;

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .filme,
    .filme2 {
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .filme {
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        font-size: 210%;
    }


}

/* trabalhar com 800 e 600 banner */
@media only screen and (max-width: 600px) {

    .organizadora {
        width: 95%;
        height: 10%;
        position: absolute;
        margin-top: 35%;
        margin-left: 6%;
    }

    .buttonplay {
        position: absolute;
        top: 60%;
        left: 32%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
        width: 36%;
        height: 16%;
        background-color: rgba(255, 255, 255, 0.972);
        border-radius: 8px;
        border: none;
        font-size: medium;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .buttonfavorite {
        position: absolute;
        top: 56%;
        left: 68%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
        width: 37%;
        height: 16%;
        color: white;
        background-color: rgba(201, 201, 201, 0.57);
        border-radius: 8px;
        border: none;
        font-size: medium;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .filme,
    .filme2 {
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .filme {
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        font-size: 210%;
    }


}


/* ABAIXO O CSS DA APRESENTAÇÃO CARD------------------------------------------------------------------------------------------------------------------------------ */


/* MDUAR O NOME DA DIV ABAIXO */
.ale {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 400px;

}


.card {
    border-radius: 20px;
    width: 590px;
    height: 290px;
    background: #ffff;
    position: relative;
    box-shadow: 0 1px 25px rgba(193, 0, 252, 0.171);
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    padding: 12px 10px;
    background: linear-gradient(120deg, #0D0D0D 30%, #1d1d1d 38%, #0D0D0D 40%, #0D0D0D 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;

}

.card_load {
    width: 270px;
    height: 268px;
    float: left;
    background-color: #4D15BE;
    border-radius: 10%;


}

/* img foto minha */
.img-eu {
    width: 250px;
    height: 268px;
    border-radius: 10%;
}

.card_load_extreme_title2 {
    width: 250px;
    height: 30px;
    position: relative;
    float: right;
    padding-bottom: 9%;
}

.card_load_extreme_title2 h2 {
    color: white;
    font-weight: 600;
}


.card_load_extreme_title {
    width: 250px;
    height: 30px;
    position: relative;
    float: right;
}

.card_load_extreme_title h4 {
    color: white;
    color: #9369e7;
    font-weight: 600;
}


.card_load_extreme_descripion p {
    color: white;
    font-size: small;
    font-weight: 100;
}


.card_load_extreme_descripion {
    width: 250px;
    height: 147px;
    position: relative;
    float: right;
}

.redes-sociais-apresentacao {
    width: 230px;
    height: 40px;
    background-color: rgba(27, 27, 27, 0);
    border-radius: 10px;
    margin-left: 320px;
    margin-top: 39%;

}


.redes-sociais-apresentacao-link {
    border: 1px solid rgb(79, 0, 207);
    width: 74px;
    height: 27px;
    display: grid;
    display: inline-block;
    place-items: center;
    background-color: #4d15be00;
    border-radius: 6px;

}

.redes-sociais-apresentacao-link:hover {
    border: 1px solid rgb(79, 0, 207);
    width: 70px;
    height: 27px;
    display: grid;
    display: inline-block;
    place-items: center;
    background-color: #4D15BE;
    border-radius: 6px;

}

/* aqui é p probelama do aws */
.redes-sociais-apresentacao-link p,
i {
    color: white;
    font-size: small;
    text-align: center;
    margin-top: 3px;


}

@keyframes load89234 {
    100% {
        background-position: -100% 0;
    }
}


/* RESPOSIVIDADE DO NAVBAR */
@media (min-width: 800px) {
    .header-navigation a {
        display: inline-block;
    }

    .header-navigation button {
        display: none;
    }
}

/* Responsive DOS ICONES DAS HABILIDADES */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
    .wrapper {
        width: 100px;
    }
}

@media only screen and (max-width: 498px) {
    .wrapper {
        width: 100px;
    }

    div.gallery ul {
        list-style-type: none;
        margin: 0;
    }
}

@media (min-width: 900px) {

    .news-card {
        height: 12em
    }
}


/* css resposivo do carrtel  de icones */
@media (max-width: 1100px) {


    :root {
        --marquee-width: 100vw;
        --marquee-height: 14vh;
        --marquee-elements-displayed: 6;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}

@media (max-width:600px) {


    :root {
        --marquee-width: 100vw;
        --marquee-height: 15vh;
        --marquee-elements-displayed: 2.5;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}

/* resposividade do sobre mim */


/* rsposividade do habilidades */
@media (max-width: 1350px) {
    .box-habilidades-inf {
        width: 50%;
        height: 500px;
        background-color: #0D0D0D;

    }

    .habilidades {
        width: 100%;
        height: 500px;
        background-color: #0D0D0D;
        display: flex;
        justify-content: space-between;

    }




    .titulo-habilidade,
    .texto-habilidade {
        background-color: #0D0D0D;
        margin: 0px;
        color: white;
    }

    .titulo-habilidade {
        /* estilização */
        font-size: 34px;
        font-family: 'Rubik', sans-serif;
        /* ordenação */
        padding-top: 86px;
        padding-bottom: 0px;
        margin-left: 80px;
        text-align: left;
    }

    .texto-habilidade {
        /* estilização */
        font-size: 15px;
        font-family: 'Rubik', sans-serif;
        /* ordenação */
        margin-left: 73px;
        padding: 10px;
        padding-bottom: 14px;
    }



    .bricks {
        margin-left: 85px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;


    }

    .skill-bricks {
        background: hsla(0, 0%, 34%, 0.648);
        border-radius: 10px;
        display: flex;
        padding-top: -15px;
        transition: all .5s;
    }

    .skill-bricks-p {
        font-weight: bold;
        margin: 10px;
        color: #ffffffbd;
        cursor: default;
        font-family: 'Rubik', sans-serif;
        font-size: 11px;
        font-weight: 300;
    }

    .skill-bricks:hover {
        border: 1px solid rgb(255, 255, 255);
    }




    .box-habilidades-icon {
        width: 45%;
        height: 500px;
        background-color: #0D0D0D;
    }


    .box-inf {
        width: 80px;
        height: 2.5px;
        background-color: red;
        border-radius: 20px;
    }


    .wrapper {
        /* aqui altera tamanjo */
        width: 100%;
        margin: 40px auto;
    }

    div.gallery {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    div.gallery ul {
        list-style-type: none;
        margin-left: 43px;
    }

    /* animation */
    /* div.gallery ul li,
            div.gallery li img {
                -webkit-transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                -o-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            } */

    div.gallery ul li {
        position: relative;
        float: left;
        width: 112px;
        height: 112px;
        padding: 0px;
        z-index: 0;
    }

    div.gallery ul li:hover {
        z-index: 5;
    }

    /* altera o tamanho de cada box dos icones */
    div.gallery ul li img {
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #535351;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        background: #181818;

    }

    /* hover da galeria */
    div.gallery ul li img:hover {
        border: 1px solid #996cde;
    }

    p.attribution {
        font-family: 'Consolas';
        color: #000;
        clear: both;
        text-align: center;
        line-height: 25px;
        padding-top: 30px;
    }
}








/* COMENTARIOS AVALIACAO */

.avaliacoes{
    width: 100%;
    background-color: #20202015;
    display: flex;
    justify-content: center;
}




.card-avaliacao {
    background-color:#202020f1;
    padding: 2rem;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.63);
    margin: 12px;
  }
  
  .header {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }
  
  .header .image {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    object-fit: cover;
    background-color: royalblue;
  }
  
  .stars {
    display: flex;
    justify-content: left;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(243, 187, 4);
  }
  
  .stars svg {
    height: 1rem;
    width: 1rem;
  }
  
  
  .nome {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
   
  }
  
  .message {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
    color: rgb(177, 183, 196);
  }</style>
























@media (max-width: 990px) {
    .wrapper {
        /* aqui altera tamanjo */
        width: 130%;

        margin: 40px auto;
    }
}

@media (max-width: 900px) {
    .wrapper {
        /* aqui altera tamanjo */
        width: 130%;
        margin: 40px auto;
    }
}

@media (max-width: 800px) {


    .habilidades {
        margin-top: 7%;
        width: 100%;
        height: 420px;
        background-color: #0D0D0D;
        display: flex;
        justify-content: space-between;

    }

    .box-habilidades-inf {
        width: 90%;
        height: 400px;
        background-color: #0D0D0D;
        margin-left: 20px;


    }


    .titulo-habilidade,
    .texto-habilidade {
        background-color: #0D0D0D;
        margin: 0px;
        color: white;
    }

    .titulo-habilidade {
        /* estilização */
        font-size: 26px;
        font-family: 'Rubik', sans-serif;
        /* ordenação */
        padding-top: 46px;
        padding-bottom: 0px;
        margin-left: 40px;
        text-align: left;
    }

    .texto-habilidade {
        /* estilização */
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        /* ordenação */
        margin-left: 34px;
        padding: 5px;

    }



    .bricks {
        margin-left: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;


    }

    .skill-bricks {
        background: hsla(0, 0%, 34%, 0.648);
        border-radius: 10px;
        display: flex;
        padding-top: -15px;
        transition: all .5s;
    }

    .skill-bricks-p {
        font-weight: bold;
        margin: 10px;
        color: #ffffffbd;
        cursor: default;
        font-family: 'Rubik', sans-serif;
        font-size: 11px;
        font-weight: 300;
    }

    .skill-bricks:hover {
        border: 1px solid rgb(255, 255, 255);
    }

    .box-habilidades-icon {
        display: none;
    }

}



/* resposividade dos projetos */
@media (min-width: 900px) {
    .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
    }

    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.751);
    }

    .news-card:hover .news-card__title {
        color: #4D15BE;
    }


    .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }
}






@media (min-width: 700px) {

    .apresetacao2 {
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 0, 0, 0);
        margin-top: 102px;
        text-align: center;

    }

}


.habilidades-button {
    scroll-behavior: smooth;
}










/* pagina de certificaods */

.certificado {
    color: white;
}

.area-titulo {

    padding-top: 20px;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: left;
    padding-bottom: 30px;
}


/* avaliação abixo */

.img-avaliacao{
border-radius: 100px;
}